@font-face{
  font-family: "Raleway";
  src: url(./fonts/Raleway/Raleway-Regular.woff), url(/fonts/Raleway/Raleway-Regular.ttf);
}

@font-face{
  font-family: "evergrande";
  src: url(./fonts/Evergrande/evergrande.otf);
}

*{
  margin: 0;
  width: auto;
  font-family: "Raleway", Sans-Serif;
  color: white;
}

body{
  background-color: black;
  display: flex;
  flex-direction: column;
}

#signUpForm{
  margin-top: 15px;
  width: 95%;
  height: auto;
  
  background: rgba(21,68,57,0.62);
  display: inline-flex;
  align-self: center;
}

#firstSection{
  position: relative;
  width: 32%;
  height: 100%;
}

.bgImage{
  width: 100%;
  height: 100%;
}

.logo {
  font-family: "evergrande";
  font-size: 48px;
  color: white;
  letter-spacing: 2px;
}

.logo.Bg{
  width: 100%;
  
  position: absolute;
  bottom: 30px;
  
  text-align: center;
}

.creditText{
  width: 100%;
  position: absolute;
  bottom: 16px;
  
  color: white;
  text-align: center;
  font-size: 12px;
}

#secondSection{
  width: 75%;
}

.introPara{
  font-size: 16px;
  padding: 20px;
}

.paraWelcome{
  font-size: 22px;
  font-weight: bold;
}

.compName,
.formContent h1{
  color: #A7AFD6;
}

.paraEnd{
  font-style: italic;
}

.formContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  background-color: rgba(50,150,126,0.291);
  padding: 20px;
}

.controls{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.controls div{
  display: flex;
  flex-direction: column;
  gap: 5px
}

.controls div input{
  background-color: rgba(255,255,255,0.345);
  width: 200px;
  height: 25px;
  padding: 4px;
  
  border: none;
  border-radius: 5px;
  appearance: none;
}

div input:invalid{
  border: 1px solid #9d0505;
}

div input:focus{
  box-shadow: 1px 1px 20px rgba(82,245,164,0.757);
  outline: none;
  border: 2px solid rgba(82,245,164,0.757);
}

.signUp{
  display: flex;
  flex-direction: column;
}

.form button{
  width: 200px;
  margin: 20px;
  background-color: #A7AFD6;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  
  border: none;
  border-radius: 6px;
  
  font-weight: bold;
}

.form span[value="logIn"]{
  margin: 20px;
}

.form span[value="logIn"] span{
  color: #A7AFD6;
}

.error{
  color: rgb(239,163,163);
  font-size: 13px;
}
